@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-slate-900 text-slate-100;
    font-family: 'Inter', sans-serif;
  }
  ::selection {
    @apply bg-sky-500 text-white;
  }
}

@layer components {
  .glassmorphism {
    @apply bg-white/10 backdrop-blur-md border border-white/20 rounded-lg shadow-lg;
  }
}

/* Custom scrollbar for a more modern look - Webkit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b; /* slate-800 */
}

::-webkit-scrollbar-thumb {
  background: #672ba1; /* purple-700 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7e22ce; /* purple-600 */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #672ba1 #1e293b; /* thumb track */
}

/* Ensure main content area has enough padding for fixed header */
main {
  padding-top: 5rem; /* Adjust based on your header height */
}
